[
    {
        "resource": "{{ slurm_cluster_name }}",
        "resource_type_id": 1,
        "name": "{{ xdmod_long_cluster_name }}"
        "pi_column": "account_name",
        "timezone": "US/Central",
    }
]
